<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 属性文件 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{50}:%L - %msg%n</pattern>
        </layout>
    </appender>
    <!-- 配置文件轮转 -->
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/var/log/tomcat/vbmp-timing/vbmp-timing.%d{yyyy-MM-dd-HH}.log</FileNamePattern>
            <!--<FileNamePattern>/home/jemy/tomcat/vbmp-timing/vbmp-timing.%d{yyyy-MM-dd-HH}.log</FileNamePattern>-->
            <!--<FileNamePattern>E:/vbmp-common.%d{yyyy-MM-dd}.log</FileNamePattern>-->
            <maxHistory>48</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.etekcity.vbmp.timing.util.MyLogLayout"/>
        </encoder>
    </appender>
    <!-- root 默认日志配置 -->
    <root level="INFO">
        <appender-ref ref="logfile"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>